[tool.mypy]
python_version = "3.10"
no_implicit_optional = true
strict_optional = true
warn_return_any = true
warn_no_return = true
warn_unreachable = true
pretty = true
exclude = ["website/static"]

[tool.ruff]
fix = false
target-version = "py310"
line-length = 100
exclude = [
  "__pycache__",
  ".venv",
]

[tool.ruff.format]
quote-style = "double"

[tool.ruff.lint]
unfixable = []
ignore = [
  "ISC001",
  "N999",  # Invalid module name: 'Browser'
  "N801",  # CamelCase class name
  "INP001",  # Implicit Namespace
  "T201",  # Print statements
  "PYI041", # `float` instead of `int | float`
]
select = [
  "E",
  "F",
  "W",
  "C90",
  "I",
  "N",
  "B",
  "PYI",
  "PL",
  "PTH",
  "UP",
  "A",
  "C4",
  "DTZ",
  "ISC",
  "ICN",
  "INP",
  "PIE",
  "T20",
  "PYI",
  "PT",
  "RSE",
  "RET",
  "SIM",
  "RUF"
]

[tool.robocop]
include = [
    ".robot",
    ".resource",
]
exclude = [
    "ignore_me.robot",
]

[tool.robocop.lint]
select = [
    "LEN04",
    "NAME02",
]
ignore = [
    "DOC01",
    "DOC02",
    "DOC03",
    "LEN04",
]
reports = [
    "rules_by_id",
    "scan_timer",
]
